body {
    padding: 20px;
   
}

table,th {
   
    border-collapse: collapse;
}

td {
    height: 10px;
    width: 20px;
    padding: 20px;
    border: 4px outset;
   
}
th {
    color:white;
    border-style: none;
  }
